.card{
    width: 400px;
    height: 500px;
    display: grid;
    margin-top: 4rem;
    grid-template-rows: repeat(3,1fr);
    border: 1px solid grey;
    text-align: left;

}
.card-img{
    width: 100%;
    /* overflow: hidden; */
}
.price-div{
    padding:0 1rem;
}
.home-details-container{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
}
.home-details-item{
    padding:0 1rem;
}
.hr-line{
    /* text-align: center; */
    width: 90%;
    height:0;
    position:relative;
    left: 5%;
    border: 1px solid rgb(199, 199, 199);
}