.living-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* text-align: center; */
}
.living-container{
    display: flex;
    margin-top:4rem;
    width: 1200px;
}
i{
    color: rgb(231, 199, 14);
}
.living-sub-container{
    width:80%;
}
.color-text{
    color: rgb(231, 199, 14);
    display: flex;
    /* align-items: center; */
}
.span-box{
    position: relative;
    bottom: 10px;
    width: 80px;
    height: 20px;
    border-bottom: 2px solid rgb(231, 199, 14);
}
.span-box-2{
    position: relative;
    left: 30px;
}
.interior-btn-div{
    width: 20%;
    text-align: center;
    margin: auto;

}
.comf-heading{
    font-family: "DM Serif Display";
    font-size: 3rem;
    color: #191919;
}
.interior-btn{
    width: 10rem;
    height: 3rem;
    position: relative;
    right:0;
    font-size: medium;
    letter-spacing:1px;
    border: none;
    border-radius: 1px;
    color: #fff;
    background-color: rgb(231, 199, 14);
    box-shadow: 10px 10px ;
}
.living-color{
    color: rgb(231, 199, 14);
}
.comf-para{
    width: 1200px;
    padding:0 4rem;
    font-size: larger;
    font-weight: 300;
    line-height: 1.6;
    color: #191919;
    /* letter-spacing: 1.2px; */
}
.f-disp-sec{
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.f-display-container{
    /* overflow: hidden; */
    height: 720px;
}
.first-display{
    width: 1200px;
    height: 680px;
    background-color: rgb(242, 240, 228);
    display: flex;
    margin-bottom: 1rem;
}
.left-fDisplay{
    /* width: 500px; */
    margin: auto;
    padding: 4rem;
    max-width: 40%;
}
.right-display{
    max-width: 60%;
}
.fDisplay-img{
    position: relative;
    top: 3.5rem;
    width:980px;
    /* overflow: hidden; */
}