.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.footer-cont{
    width: 100%;
    height: 300px;
    padding: 3rem;
    padding-top: 3rem;
    background:url("../Images/contact_hero.jpg");
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.title-footer{
    font-size: 1.5rem;
    color: rgb(231, 219, 14);
}
.footer-ul{
    display: flex;
    color: white;
}
.ctn-cont{

}
.speak{
    color: rgb(231, 219, 14);
}
.speak-num{
    padding: .5rem 0;
    color:antiquewhite;
}
.follow-us-p{
    margin-left: 8px;
}
.follow-us{
    color: rgb(231, 219, 14);
}
.visit-us{
    color: rgb(231, 219, 14);
}
.follow-link{
    margin: 8px;
    font-size: x-large;
}
.add-span{
    color: antiquewhite;
}
.header-nav{
    grid-column: span 3;
}
.nav-item{
    margin:0 5rem;
    font-size: large;
}
.rights{
    color: antiquewhite;
    margin-top: 16px;
}